html,body{
    position: relative;
    width: 845px;
    height: 507px;
    margin: 0px;
    padding: 0px;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
}

html{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
body{
    transform-origin: center center;
    -webkit-transform-origin: center center;
    -o-transform-origin: center center;
}

@media (min-width: 845px){

}

@media (min-width: 710px) and (max-width: 844px){
    html,body{
        position: relative;
        width: 710px;
        height: 507px;
        margin: 0px;
        padding: 0px;
        overflow: hidden;
        box-sizing: border-box;
    }

    #header2{
        padding: 0px 10px;    
    }
    #caso-cont{
        width: 90px;
    }
    #caso-cont p{
        font-size: 18px;
    }
    #titulo{
        width: 100%;
        width: calc(100% - (80px + 90px));
        width: -moz-calc(100% - (80px + 90px));
    }
    #titulo p{
        font-size: 14px;
    }
   
    #opcion1{
        margin-right: 0px;
    }
    #opcion2{
        margin-right: 0px;
    }
    #zona1{
        margin-right: 0px;
    }
    #zona2{
        margin-right: 0px;
    }

    #personaje{
        right: 0px;
    }
    #resultado-box{
        margin-left: 10px;
    }

    /*****WELCOME******/
    #welcomepage-title{
        font-size: 23px;
        margin-top: 15px;
    }
    #welcomepage-subtitle{
        width: 70%;
        font-size: 15px;
    }

}

@media (min-width: 530px) and (max-width: 709px){
    html,body{
        position: relative;
        width: 530px;
        height: 650px;
        margin: 0px;
        padding: 0px;
        overflow: hidden;
        box-sizing: border-box;
    }

    .fondo-animating{
        animation: none;
        animation: unset;
        -webkit-animation: none;
        -webkit-animation: unset;
    }

    #header{
        height: 50px;
        box-shadow: 0px 0px 3px 2px rgba(255,255,255,0.5) inset;
    }
    #header2{
        height: 50px;
    }

    #header2{
        padding: 0px 5px;
    }
    #caso-cont{
        width: 70px;
        height: 35px;
    }
    #caso-cont p{
        font-size: 15px;
    }
    #titulo{
        width: 100%;
        width: calc(100% - (80px + 70px));
        width: -moz-calc(100% - (80px + 70px));
    }
    #titulo p{
        font-size: 13px;
    }

    #pregunta-app{
        width: 100%;
        height: 100%;
        height: calc(100% - 50px);
        height: -moz-calc(100% - 50px);
        top: 50px;
    }

    #pregunta-cont{
        width: 520px;
        height: 100px;
        
        background-size: 100% 100%;
        background-image: url(../images/pregunta-cont-tablet.png);
        margin-bottom: 5px;
    }
    #pregunta-txt{
        padding: 30px 50px;
        font-size: 14px;
    }

    #opciones-cont{
        justify-content: center;
        flex-wrap: wrap;
    }
    #opcion1{
        margin-right: 10px;
    }
    #opcion2{
        margin-right: 10px;
    }
    #zona1{
        margin-right: 10px;
    }
    #zona2{
        margin-right: 10px;
    }
    

    .opcion1_over{
        animation-name: animacion-respuesta-1-over-mobile;
        -webkit-animation-name: animacion-respuesta-1-over-mobile;
    }
    /*******3*******/
    #opcion3{
        margin-right: 15px;
        transform-origin: center 100%;
        -webkit-transform-origin: center 100%;
        -o-transform-origin: center 100%;
    }
    .opcion3-normal{
        width: 223px;
        height: 182px;
        background-image: url(../images/opcion2-cont.png);
    }
    .opcion3-normal .opcion-cont-over{
        width: 219px;
        height: 181px;
        top: 7px;
        left: 2px;
        background-image: url(../images/opcion2-cont-over.png);
    }
    .opcion3-large{
        width: 223px;
        height: 244px;
        background-image: url(../images/opcion2-cont-large.png);
    }
    .opcion3-large .opcion-cont-over{
        width: 219px;
        height: 244px;
        top: 12px;
        left: 2px;
        background-image: url(../images/opcion2-cont-over-large.png);
    }
    .opcion3_over{
        animation-name: animacion-respuesta-2-over-mobile;
        -webkit-animation-name: animacion-respuesta-2-over-mobile;
    }
    .opcion3_out{
        animation-name: animacion-respuesta-2-out;
        -webkit-animation-name: animacion-respuesta-2-out;
    }
    .opcion3_init{
        opacity: 0;
        top: 50px;
    }
    .opcion3_in{
        animation-name: animacion-respuesta-2-in;
        -webkit-animation-name: animacion-respuesta-2-in;
    }

    /**********2**********/
    #opcion2{
        transform-origin: 0% 100%;
        -webkit-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
    }
    .opcion2-normal{
        width: 223px;
        height: 182px;
        background-image: url(../images/opcion3-cont.png);
    }
    .opcion2-normal .opcion-cont-over{
        width: 213px;
        height: 181px;
        top: 6px;
        left: -8px;
        background-image: url(../images/opcion3-cont-over.png);
    }
    .opcion2-large{
        width: 223px;
        height: 244px;
        background-image: url(../images/opcion3-cont-large.png);
    }
    .opcion2-large .opcion-cont-over{
        width: 213px;
        height: 246px;
        top: 5px;
        left: -12px;
        background-image: url(../images/opcion3-cont-over-large.png);
    }
    .opcion2_over{
        animation-name: animacion-respuesta-3-over-mobile;
        -webkit-animation-name: animacion-respuesta-3-over-mobile;
    }
    .opcion2_out{
        animation-name: animacion-respuesta-3-out;
        -webkit-animation-name: animacion-respuesta-3-out;
    }
    .opcion2_init{
        opacity: 0;
        left: -50px;
    }
    .opcion2_in{
        animation-name: animacion-respuesta-3-in;
        -webkit-animation-name: animacion-respuesta-3-in;
    }

    .efecto{
        display: none;
    }
    #retroalimentacion{
        height: calc(100% - 50px);
        height: -moz-calc(100% - 50px);
        top: 50px;
    }

    #retroalimentacion-box{
        width: 520px;
        height: 170px;
        background-image: url(../images/retroalimentacion-cont.png);
    }
    #retroalimentacion-title{
        font-size: 16px;
    }
    #retroaliementacion-list li{
        font-size: 12px;
    }
    #retroalimentacion-msg{
        font-size: 12px;
    }

    #personaje{
        right: 0px;
        transform-origin: 100% 100%;
        -webkit-transform-origin: 100% 100%;
        -o-transform-origin: 100% 100%;
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
        -o-transform: scale(0.8);
    }
    #resultado-box{
        width: 400px;
        margin-left: 10px;
    }
    #resultado-texto{
        min-height: 40px;
        
        background-repeat: repeat-y;
        
        font-size: 14px;
    }
    #resultado-box h1{
        padding: 5px 0px;
        font-size: 16px;
    }
    #resultado-intro{
        font-size: 14px;
        margin-bottom: 20px;
    }
    #resultado-lista{
        padding-left: 20px;
    }
    #resultado-lista li{
        font-size: 13px;
    }
    
    /*****WELCOME******/
    #welcomepage-title{
        font-size: 23px;
        margin-top: 0px;
        margin-bottom: 15px;
    }
    #welcomepage-subtitle{
        width: 75%;
        font-size: 15px;
        margin-bottom: 50px;
    }
    .welcomepage-graphic{
        margin-bottom: 50px;
    }
    .welcomepage-brillo-gira{
        animation: none;
        animation: unset;
        -webkit-animation: none;
        -webkit-animation: unset;
    }

}

@media (min-width: 280px) and (max-width: 529px){
    html,body{
        position: relative;
        width: 100%;
        height: 700px;
        margin: 0px;
        padding: 0px;
        overflow: hidden;
        box-sizing: border-box;
    }

    .fondo-animating{
        animation: none;
        animation: unset;
        -webkit-animation: none;
        -webkit-animation: unset;
    }

    #header{
        height: 60px;
        box-shadow: 0px 0px 3px 2px rgba(255,255,255,0.5) inset;
    }
    #header2{
        height: 60px;
    }
    #sonido-btn:hover,
    .video-btn-enabled:hover{
        transform: none;
        -webkit-transform: none;
        -o-transform: none;
        cursor: default;
    }

    #header2{
        padding: 0px 5px;
    }
    #caso-cont{
        width: 70px;
        height: 35px;
    }
    #caso-cont p{
        font-size: 14px;
    }
    #titulo{
        width: 100%;
        width: calc(100% - (80px + 70px + 10px));
        width: -moz-calc(100% - (80px + 70px + 10px));
    }
    #titulo p{
        font-size: 12px;
    }

    #pregunta-app{
        width: 100%;
        height: 100%;
        height: calc(100% - 60px);
        height: -moz-calc(100% - 60px);
        top: 60px;

        transform-origin: center center;
        -webkit-transform-origin: center center;
        -o-transform-origin: center center;

    }
    .pregunta-gone{
        animation-name: animacion-pregunta-gone-mobile;
        -webkit-animation-name: animacion-pregunta-gone-mobile;
    }
    .pregunta-in{
        animation-name: animacion-pregunta-in-mobile;
        -webkit-animation-name: animacion-pregunta-in-mobile;
    }

    #pregunta-cont{
        width: 360px;
        height: 100px;
        
        background-size: 100% 100%;
        margin-bottom: 10px;
    }
    #pregunta-txt{
        padding: 30px 50px;
        font-size: 13px;
    }

    #opciones-cont{
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    #zonas{
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .opcion-cont{
        margin: 0px auto;
        margin-bottom: 10px;
    }
    #zonas,.zona{
        display: none;
    }
    #opcion1{
        margin-right: auto;
        margin-left: auto;
    }
    #opcion2{
        margin-right: auto;
        margin-left: auto;
    }
    
    #opcion1,#opcion2,#opcion3{
        transform-origin: center center;
        -webkit-transform-origin: center center;
        -o-transform-origin: center center;
    }
    .opcion1-normal,.opcion2-normal,.opcion3-normal{
        width: 80%;
        height: auto;
        background-image: url(../images/pregunta-cont.png);
        background-size: 100% 100%;
    }
    .opcion1-large,.opcion2-large,.opcion3-large{
        width: 80%;
        height: auto;
        background-image: url(../images/pregunta-cont.png);
        background-size: 100% 100%;
    }
        
    .opcion1_over,.opcion2_over,.opcion3_over{
        animation: none;
        animation: unset;
        -webkit-animation: none;
        -webkit-animation: unset;
    }
    .opcion1_out,.opcion2_out,.opcion3_out{
        animation: none;
        animation: unset;
        -webkit-animation: none;
        -webkit-animation: unset;
    }
    .opcion1_init,.opcion2_init,.opcion3_init{
        opacity: 0;
        top: initial;
    }
    .opcion1_in,.opcion2_in,.opcion3_in{
        animation-name: animacion-respuesta-in-mobile;
        -webkit-animation-name: animacion-respuesta-in-mobile;
    }
    .opcion-cont-over{
        display: none;
    }
    .opcion-descripcion{
        position: relative;
        height: auto;
        padding: 15px !important;
        padding-top: 40px !important;
        top: initial !important;
    }
    .opcion-letra{
        font-size: 15px;
        top: 10px;
    }

    .efecto{
        display: none;
    }

    #retroalimentacion{
        height: calc(100% - 60px);
        height: -moz-calc(100% - 60px);
        top: 60px;
    }

    #retroalimentacion-box{
        width: 350px;
        height: 260px;
        background-image: url(../images/retroalimentacion-cont-mobile.png);
    }
    #retroalimentacion-title{
        font-size: 16px;
    }
    #retroaliementacion-list li{
        font-size: 13px;
    }
    #retroalimentacion-msg{
        font-size: 13px;
    }
    #retroalimentacion-btn{
        cursor: default;
    }

    #personaje{
        right: 0px;
        bottom: 0px;
        display: none;
    }
    #resultado-box{
        width: 90%;
        margin-left: 5%;
    }
    #resultado-texto{
        min-height: 40px;
        
        background-repeat: repeat-y;
        
        font-size: 13px;
    }
    #resultado-box h1{
        padding: 5px 0px;
        font-size: 15px;
    }
    #resultado-intro{
        font-size: 13px;
        margin-bottom: 20px;
    }
    #resultado-lista{
        padding-left: 20px;
    }
    #resultado-lista li{
        font-size: 13px;
    }

    /*****WELCOME******/
    #welcomepage{
        justify-content: center;
        align-items: center;
    }
    #welcomepage-title{
        font-size: 21px;
        margin-top: 0px;
        margin-bottom: 15px;
    }
    #welcomepage-subtitle{
        width: 90%;
        font-size: 14px;
        margin-bottom: 50px;
    }
    .welcomepage-graphic{
        margin-bottom: 50px;
    }
    .welcomepage-brillo-gira{
        animation: none;
        animation: unset;
        -webkit-animation: none;
        -webkit-animation: unset;
    }
    .welcomepage-cuadros-on #welcomepage-cuadro-1,
    .welcomepage-cuadros-on #welcomepage-cuadro-2,
    .welcomepage-cuadros-on #welcomepage-cuadro-3,
    .welcomepage-cuadros-on #welcomepage-cuadro-4{
        animation: none;
        animation: unset;
        -webkit-animation: none;
        -webkit-animation: unset;
    }
 
    #welcomepage-btn:hover{
        cursor: default;
        transform: none;
        -webkit-transform: none;
        -o-transform: none;
    }
    #welcomepage-btn:hover::after{
        animation: none;
        animation: unset;
        -webkit-animation: none;
        -webkit-animation: unset;
    }
}

